.weather {
    .weather__temp {
        height: 120px;
        font-size: 76px;
        padding-top: 55px;
        padding-left: 20px;
        sup {
            font-size: 38px;
        }
    }
    .weather__icon {
        //height: 200px;
        padding-top: 25px;
        flex-direction: column;
        align-items: center;
        .weather__icon-description {
            font-size: 24px;
        }
        .weather__icon-description_details {
            font-size: 18px;
            margin-top: 10px;
        }
        .weather__icon-img {
        }
    }



    .media__details {
        background-color: rgb(180, 224, 252);
        width: 300px;
        height: 200px;
        .table-details {
            border-collapse: collapse;
            border-top: 1px solid black;
            border-bottom: 1px solid black;
        }
        table td {
            width: 150px;
            height: 95px; 
        }
        .cell-prop-wind {
            border-bottom: 1px solid black;
            border-right: 1px solid black;
            font-size: 20px;
        }

        .cell-prop-wind>div {
            justify-content: space-around;
            flex-direction: column;
            align-items: center;
        }

        .cell-prop-pres {
            border-bottom: 1px solid black;
        }

        .cell-prop-pres>div {
            justify-content: space-around;
            flex-direction: column;
            align-items: center;
        }
        
        .cell-prop-sunrize {
            border-right: 1px solid black;
            font-size: 13px;
            line-height: 1rem;
        }

        .cell-prop-sunrize>div {
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
        }
        
        .cell-prop-solarrad>div {
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
            font-size: 12px;
        }

            .radiation {
                font-size: 19px;
            }
    }


}