.forecastDay {
    width: 120px;
    height: 120px;
    background-color: lightcyan;
    margin-top: 10px;
    font-size: 16px;
    line-height: 2px;
    text-align: center;
    .datetime {
        font-weight: 500;
    }
    .forecastDescription {
        line-height: 13px;
    }
}