@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600;700&display=swap');

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  width: 600px;
  height: 510px;
  background: #ffffff;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 19px;
  color: #000000;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.hidden {
  display: none;
}

.search-body {
  width: 600px;
  height: 35px;
  flex-wrap: nowrap;
  border: 1px solid black;
    .search-body__search-form {}
    .search-body__local-time {
      width: 150px;
      height: 35px;
    }
}
.main-body {
  width: 600px;
  height: 440px;
  .main-body__media {
    width: 300px;
    flex-direction: column;
    .main-body__display {
      height: 405px;
      border: 1px solid black;
      border-top: none;
      border-right: none;
      flex-direction: column;
      justify-content: space-between;
    }
    .main-body__menu {
      height: 35px;
    }
  }
  .main-body__favorite-cities {
    width: 300px;
    border: 1px solid black;
    border-top: none;
  }
}